.container {
    width: 55rem;
  
    display: grid;
    grid-template-columns: calc(calc(55rem / 2) - 10px) calc(
        calc(55rem / 2) - 10px
      );
    column-gap: 20px;
  
    background: rgb(31, 31, 31, 0.3);
  
    border-radius: 10px 10px 0 0;
  
    margin: 30px auto;
  }
  .footer {
    display: flex;
    justify-content:center;
    align-items:center;
  }